/* CSS untuk style secara umum (layar FullHD XL)  */
/* Minimal CSS Reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* CSS untuk Dipakai Halaman Umum */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Karla", sans-serif;
}

.container {
  max-width: 1320px;
  padding: 0 12px;
  margin: 0 auto;
}

/* CSS untuk Header */
header {
  height: 80px;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.175);
  z-index: 100;
}

.header-left {
  float: left;
  padding: 10px;
}

.logo {
  height: 60px;
}

.header-menu {
  float: left;
  padding-left: 20px;
}

.btn-header {
  padding: 20px;
  height: 60px;
  margin-top: 10px;
  color: rgba(150, 150, 150);
  text-decoration: none;
  transition: all 0.5s;
  display: inline-block;
}
.btn-header:hover {
  color: black;
}

.header-right {
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  /* Ubah property transition */
}

.header-right:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.btn-header-member {
  background-color: #38b083;
  padding: 15px;
  height: 50px;
  margin-top: 15px;
  border-radius: 6px;
  color: white;
  text-decoration: none;
  transition: all 0.5s;
  display: inline-block;
}
.btn-header-member:hover {
  background-color: #198754;
}

.btn-header-member .fa {
  color: white;
  margin-right: 6px;
}

/* CSS untuk Top Wrapper */

.top-wrapper {
  background-image: url(./img/top-wrapper.jpg);
  background-size: cover;
  color: white;
}

.top-wrapper-overlay {
  padding: 270px 0 200px 0;
  background: rgba(0, 0, 0, 0.5);
  height: inherit;
  width: 100%;
}

.top-wrapper h1 {
  font-size: 68px;
  letter-spacing: -2px;
}

.top-wrapper h1::after {
  content: "";
  margin-left: 10px;
  width: 20px;
  height: 5px;
  background: white;
  display: inline-block;
  animation: cursor-blink 1s steps(2) infinite;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

/* CSS untuk About Wrapper */
.about-wrapper {
  padding: 120px 60px 60px 60px;
}

.about-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.about-card {
  display: flex;
  margin-top: 50px;
  margin-bottom: 100px;
}

.about-card img {
  width: 50%;
}

.about-content h3 {
  font-size: 32px;
  font-weight: bold;
  margin: 70px 0px 30px 70px;
}

.about-content p {
  font-size: 18px;
  font-weight: normal;
  margin: 0px 0px 20px 70px;
  color: #595959;
}

.about-wrapper h2 {
  font-size: 42px;
  font-weight: bold;
}

/* CSS untuk Services Wrapper */
.services-wrapper {
  padding: 120px 0;
  background-color: #f5f5f5;
}

.services-wrapper h2 {
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}

.services-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

.services-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 33.3333%;
}

.service-card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
  height: 270px;
  background-color: #ffffff;
  padding: 16px 40px;
}

.service-card h3 {
  font-size: 32px;
  font-weight: bold;
}

.service-card p {
  font-size: 18px;
  color: #595959;
}

.service-card img {
  max-width: 70%;
}

.service-card.blue {
  background-color: #0d6efd;
}

.service-card.green {
  background-color: #198754;
}

.service-card.yellow {
  background-color: #ffc107;
}

.learn-more {
  padding: 16px 25px;
  background-color: #38b083;
  margin-top: 10px;
  color: #fff;
  border-radius: 6px;
  text-decoration: none;
  transition: all 0.5s;
}

.learn-more:hover {
  background-color: #198754;
}
/* CSS untuk Pricing Wrapper */
.pricing-wrapper {
  background-image: url(pricing.png);
  background-size: cover;
  height: 930px;
  padding-top: 30px;
}
.heading {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 50px;
  color: white;
  text-decoration: dotted;
}
.pricing-plan {
  float: left;
  width: 32%;

  background-color: white;
  margin: 0 0.5%;
  height: 700px;
  transition: all 0.5s;
}
.pricing-plan:hover {
  transform: scale(1.03);
  transform-origin: 50% 50% 0px;
}
.plan-inherit {
  width: 90%;
  margin: 0 20px;
  height: 530px;
}
.pricing-header {
  font-size: 25px;
  height: 100px;
  border-bottom: 1px solid #a2a9ad;
}

.price-desc {
  padding: 30px 10px 10px 10px;
  float: left;
  width: 37%;
  font-size: 12px;
}
.price-amount {
  padding: 30px 10px 10px 10px;
  float: right;
  width: 63%;

  text-align: right;
}
.inner-txt {
  margin-left: 50px;
  padding-top: 30px;
  padding-left: 20px;
  padding-bottom: 10px;
  font-size: 24px;
}
.inner-txt li {
  padding-left: 10px;
}
.inner-txt-1 {
  padding-left: 70px;
}
.btn-order1 {
  display: inline-block;
  margin-bottom: 40px;
  margin-top: 40px;
  margin-left: 80px;
  border: 2px solid blueviolet;
  color: blueviolet;
  padding: 18px 40px;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.3s linear;
  text-decoration: none;
}
.btn-order1:hover {
  background-color: blueviolet;
  color: aliceblue;
}
.btn-order2 {
  display: inline-block;
  margin-bottom: 40px;
  margin-top: 40px;
  margin-left: 80px;
  border: 2px solid rgb(25, 176, 35);
  color: rgb(25, 176, 35);
  padding: 18px 40px;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.3s linear;
  text-decoration: none;
}
.btn-order2:hover {
  background-color: rgb(25, 176, 35);
  color: aliceblue;
}
.btn-order3 {
  display: inline-block;
  margin-bottom: 40px;
  margin-top: 40px;
  margin-left: 80px;
  border: 2px solid rgb(237, 215, 16);
  color: rgb(237, 215, 16);
  padding: 18px 40px;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.3s linear;
  text-decoration: none;
}
.btn-order3:hover {
  background-color: rgb(237, 215, 16);
  color: aliceblue;
}
.label1 {
  width: 100%;
  text-align: center;
  background-color: blueviolet;
  color: aliceblue;
  height: 50px;
  border-radius: 0px 0px 10px 10px;
}
.label2 {
  width: 100%;
  text-align: center;
  background-color: rgb(25, 176, 35);
  color: aliceblue;
  height: 50px;
  border-radius: 0px 0px 10px 10px;
}
.label3 {
  width: 100%;
  text-align: center;
  background-color: rgb(237, 215, 16);
  color: aliceblue;
  height: 50px;
  border-radius: 0px 0px 10px 10px;
}
.label p {
  display: inline-block;
}

.txt-top {
  padding: 10px;
  font-size: 20px;
}
.desc {
  margin-left: 90px;
  font-size: 24px;
  color: dimgray;
}

.desc li {
  list-style: square;
}

.fa {
  color: black;
}
/* CSS untuk Contact Wrapper */

.contact-wrapper h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

hr {
  width: 100%;
  margin-top: 3rem;
}

/* h3 {
  color: white;
  font-weight: bold;
} */

.title-footer {
  color: white;
  font-weight: bold;
}

.contact-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 120px;
}

.input-wrapper {
  width: 39rem;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.personal-input {
  display: flex;
  flex-direction: row;
}

.nameinput-wrapper {
  display: flex;
  flex-direction: column;
}

.name-input {
  margin-top: 0.4rem;
  width: 12rem;
  height: 1.9rem;
}

.emailinput-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.email-input {
  margin-top: 0.4rem;
  width: 12rem;
  height: 1.9rem;
}

.contact-about-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.about-select {
  margin-top: 0.4rem;
  width: 12rem;
  height: 1.9rem;
}

.project-input {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.project-textarea {
  margin-top: 0.4rem;
  height: 8rem;
}

.btn-submit {
  margin-top: 0.7rem;
  background-color: #3faf84;
  border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
}

/* CSS untuk Footer */
footer {
  background-color: #07262e;
  margin-top: 5rem;
  padding: 2rem 0;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  width: 55rem;
  margin: 2rem auto;
}

.footer-top-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.bottom-wrapper {
  display: flex;
  flex-direction: row;
}

.newsletter {
  display: flex;
  width: 45%;
}

.newsletter-content {
  display: flex;
  flex-direction: column;
}

.subscribe-content {
  display: flex;
  flex-direction: row;
}

.input-subscribe {
  font-family: inherit;
  border: 0;
  border-bottom: 1px solid white;
  outline: 0;
  font-size: 0.4 rem;
  color: white;
  background: transparent;
  transition: border-color 0.2s;
}

.btn-subscribe {
  font-family: inherit;
  border: 0;
  margin-left: 0.5rem;
  padding: 0.5rem 0.8rem;
  width: 7rem;
  font-weight: bold;
}

.footer-title-address-wrapper {
  display: flex;
  width: 55%;
}

.services {
  display: flex;
  width: 40%;
  flex-direction: column;
}

.text-services {
  color: white;
  margin-top: 0.2rem;
  font-weight: 200;
}

.sayhi {
  display: flex;
  width: 60%;
  flex-direction: column;
}

.text-sayhi-address {
  color: white;
  margin-top: 0.2rem;
  font-weight: 200;
}

.text-sayhi-email {
  color: white;
  margin-top: 0.2rem;
  font-weight: 100;
  font-size: 0.7rem;
}

.copyright {
  display: inline;
  width: 50%;
}

.text-copyright {
  width: 18rem;
  color: white;
}

.social-media {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: end;
}

.fa-facebook,
.fa-twitter,
.fa-instagram,
.fa-linkedin,
.fa-youtube {
  color: white;
  background: #07262e;
  margin-left: 0.5rem;
  text-decoration: none;
}

.fa-facebook {
  margin-left: 0;
}
