/* CSS untuk style secara umum (layar FullHD XL)  */
/* Minimal CSS Reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* CSS untuk Dipakai Halaman Umum */
body {
  font-family: "Karla", sans-serif;
}

.container {
  max-width: 1320px;
  padding: 0 12px;
  margin: 0 auto;
}

/* CSS untuk Header */

/* CSS untuk Top Wrapper */

/* CSS untuk About Wrapper */
.about-wrapper {
  padding: 60px;
}

.about-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.about-card {
  display: flex;
  margin-top: 50px;
  margin-bottom: 100px;
}

.about-card img {
  width: 50%;
}

.about-content h3 {
  font-size: 32px;
  font-weight: bold;
  margin: 70px 0px 30px 70px;
}

.about-content p {
  font-size: 18px;
  font-weight: normal;
  margin: 0px 0px 20px 70px;
  color: #595959;
}

.about-wrapper h2 {
  font-size: 42px;
  font-weight: bold;
}

/* CSS untuk Services Wrapper */
.services-wrapper {
  padding: 120px 0;
  background-color: #f5f5f5;
}

.services-wrapper h2 {
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}

.services-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.service-card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  row-gap: 10px;
  width: 33.33333%;
  height: 270px;
  background-color: #ffffff;
  padding: 16px 40px;
}

.service-card h3 {
  font-size: 32px;
  font-weight: bold;
}

.service-card p {
  font-size: 18px;
  color: #595959;
}

.service-card img {
  max-width: 70%;
}

.service-card.blue {
  background-color: #0d6efd;
}

.service-card.green {
  background-color: #198754;
}

.service-card.yellow {
  background-color: #ffc107;
}

.learn-more {
  padding: 16px 25px;
  background-color: #38b083;
  margin-top: 10px;
  color: #fff;
  border-radius: 6px;
  text-decoration: none;
  transition: all 0.5s;
}

.learn-more:hover {
  background-color: #198754;
}
/* CSS untuk Pricing Wrapper */
.pricing-wrapper {
  background-image: url(pricing.png);
  background-size: cover;
  height: 800px;
}
.heading {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 50px;
  color: white;
  text-decoration: dotted;
}
.pricing-plan {
  float: left;
  width: 32%;

  background-color: white;
  margin: 0 8px;
  height: 565px;
}
.pricing-plan:hover {
  border: 2px solid gray;
  box-shadow: 0 0 0 0 26em blue;
}
.plan-inherit {
  width: 90%;
  margin: 0 20px;
  height: 530px;
}
.pricing-header {
  font-size: 25px;
  height: 100px;
  border-bottom: 1px solid #a2a9ad;
}

.price-desc {
  padding: 30px 10px 10px 10px;
  float: left;
  width: 60%;
}
.price-amount {
  padding: 30px 10px 10px 10px;
  float: right;
  width: 40%;

  text-align: right;
}
.inner-txt {
  margin-left: 50px;
  padding-top: 30px;
  padding-left: 20px;
  padding-bottom: 10px;
}
.inner-txt li {
  padding-left: 10px;
}
.inner-txt-1 {
  padding-left: 70px;
}
.btn-order1 {
  display: inline-block;
  margin-bottom: 40px;
  margin-top: 40px;
  margin-left: 80px;
  border: 2px solid blueviolet;
  color: blueviolet;
  padding: 18px 40px;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.3s linear;
  text-decoration: none;
}
.btn-order1:hover {
  background-color: blueviolet;
  color: aliceblue;
}
.btn-order2 {
  display: inline-block;
  margin-bottom: 40px;
  margin-top: 40px;
  margin-left: 80px;
  border: 2px solid rgb(25, 176, 35);
  color: rgb(25, 176, 35);
  padding: 18px 40px;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.3s linear;
  text-decoration: none;
}
.btn-order2:hover {
  background-color: rgb(25, 176, 35);
  color: aliceblue;
}
.btn-order3 {
  display: inline-block;
  margin-bottom: 40px;
  margin-top: 40px;
  margin-left: 80px;
  border: 2px solid rgb(237, 215, 16);
  color: rgb(237, 215, 16);
  padding: 18px 40px;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.3s linear;
  text-decoration: none;
}
.btn-order3:hover {
  background-color: rgb(237, 215, 16);
  color: aliceblue;
}
.label1 {
  width: 100%;
  text-align: center;
  background-color: blueviolet;
  color: aliceblue;
  height: 50px;
  border-radius: 0px 0px 10px 10px;
}
.label2 {
  width: 100%;
  text-align: center;
  background-color: rgb(25, 176, 35);
  color: aliceblue;
  height: 50px;
  border-radius: 0px 0px 10px 10px;
}
.label3 {
  width: 100%;
  text-align: center;
  background-color: rgb(237, 215, 16);
  color: aliceblue;
  height: 50px;
  border-radius: 0px 0px 10px 10px;
}
.label p {
  display: inline-block;
}

.txt-top {
  padding: 10px;
  font-size: 20px;
}
.desc {
  margin-left: 90px;
  font-size: 24px;
  color: dimgray;
}

.desc li {
  list-style: square;
}

.fa {
  color: black;
}
/* CSS untuk Contact Wrapper */
hr {
  width: 55rem;
  margin-top: 5rem;
}

/* h3 {
  color: white;
  font-weight: bold;
} */

.title-footer {
  color: white;
  font-weight: bold;
}

.contact-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}

.input-wrapper {
  width: 39rem;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.personal-input {
  display: flex;
  flex-direction: row;
}

.nameinput-wrapper {
  display: flex;
  flex-direction: column;
}

.name-input {
  margin-top: 0.4rem;
  width: 12rem;
  height: 1.9rem;
}

.emailinput-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.email-input {
  margin-top: 0.4rem;
  width: 12rem;
  height: 1.9rem;
}

.contact-about-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.about-select {
  margin-top: 0.4rem;
  width: 12rem;
  height: 1.9rem;
}

.project-input {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.project-textarea {
  margin-top: 0.4rem;
  height: 8rem;
}

.btn-submit {
  margin-top: 0.7rem;
  background-color: #3faf84;
  border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
}

/* CSS untuk Footer */
.footer-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #07262e;
  margin-top: 5rem;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  width: 55rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.footer-section .top-wrapper {
  display: flex;
  flex-direction: row;
}

.bottom-wrapper {
  display: flex;
  flex-direction: row;
}

.newslatter {
  display: flex;
  float: left;
}

.newslatter-content {
  display: flex;
  flex-direction: column;
}

.subscribe-content {
  display: flex;
  flex-direction: row;
  float: left;
}

.input-subscribe {
  font-family: inherit;
  border: 0;
  border-bottom: 1px solid white;
  outline: 0;
  font-size: 0.4 rem;
  color: white;
  background: transparent;
  transition: border-color 0.2s;
}

.btn-subscribe {
  font-family: inherit;
  border: 0;
  margin-left: 0.5rem;
  padding: 0.5rem 0.8rem;
  width: 7rem;
  font-weight: bold;
}

.services {
  display: flex;
  margin: 0 5rem 0 7rem;
  flex-direction: column;
  float: right;
}

.text-services {
  color: white;
  margin-top: 0.2rem;
  font-weight: 200;
}

.sayhi {
  display: flex;
  margin-left: 7rem;
  flex-direction: column;
}

.text-sayhi-address {
  color: white;
  margin-top: 0.2rem;
  font-weight: 200;
}

.text-sayhi-email {
  color: white;
  margin-top: 0.2rem;
  font-weight: 100;
  font-size: 0.7rem;
}

.copyright {
  display: inline;
  width: 12rem;
}

.text-copyright {
  width: 18rem;
  color: white;
}

.social-media {
  display: flex;
  margin-left: 32rem;
  margin-top: 0.5rem;
}

.fa-facebook,
.fa-twitter,
.fa-instagram,
.fa-linkedin,
.fa-youtube {
  color: white;
  background: #07262e;
  margin-left: 0.5rem;
  text-decoration: none;
}

.fa-facebook {
  margin-left: 0;
}
