/* CSS untuk style secara umum (layar FullHD XL)  */
/* Minimal CSS Reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
 
}

img {
  max-width: 100%;
  height: auto;
}

/* CSS untuk Dipakai Halaman Umum */
body {
  font-family: "Karla", sans-serif;
}

.container {
  max-width: 1320px;
  padding: 0 12px;
  margin: 0 auto;
}

/* CSS untuk Header */

/* CSS untuk Top Wrapper */

/* CSS untuk About Wrapper */

/* CSS untuk Services Wrapper */

/* CSS untuk Pricing Wrapper */
.pricing-wrapper{
  background-image: url(pricing.png);
  background-size: cover;
  height: 800px;
}
.heading{
  text-align: center;
  padding-top: 80px;
  padding-bottom: 50px;
  color: white;
  text-decoration:dotted;
  
}
.pricing-plan{
  float:left;
  width: 32%;
  
  background-color: white;
  margin: 0 8px;
  height:565px;
}
.pricing-plan:hover{
  border: 2px solid gray;
  box-shadow: 0 0 0 0 26em blue;
}
.plan-inherit{
  width: 90%;
  margin: 0 20px;
  height: 530px;
}
.pricing-header{
  
  font-size: 25px;
  height:100px;
  border-bottom:1px solid #a2a9ad;
}

.price-desc{
  padding: 30px 10px 10px 10px;
  float:left;
  width:60%;
  
}
.price-amount{
  padding: 30px 10px 10px 10px;
  float:right;
  width:40%;

  text-align: right;

}
.inner-txt {
  margin-left: 50px;
  padding-top: 30px;
  padding-left: 20px;
  padding-bottom: 10px;
}
.inner-txt li{
  padding-left: 10px;
}
.inner-txt-1{
  padding-left: 70px;
}
.btn-order{
  display: inline-block;
  margin-bottom: 40px;
  margin-top: 40px;
  margin-left:100px;
  border: 2px solid blueviolet;
  color: blueviolet;
  padding: 18px 40px;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 500;
  transition: .3s linear;
  text-decoration: none;
}
.btn-order:hover{
  background-color: blueviolet;
  color: aliceblue;
}
.label1{
  width: 100%;
  text-align: center;
  background-color: blueviolet;
  color: aliceblue;
  height: 50px;
  border-radius: 0px 0px 10px 10px;
}
.label2{
  width: 100%;
  text-align: center;
  background-color: rgb(25, 176, 35);
  color: aliceblue;
  height: 50px;
  border-radius: 0px 0px 10px 10px;
}
.label3{
  width: 100%;
  text-align: center;
  background-color: rgb(237, 215, 16);
  color: aliceblue;
  height: 50px;
  border-radius: 0px 0px 10px 10px;
  
}
.label p{
  display: inline-block;
}

.txt-top{
  padding: 10px;
  font-size: 20px;
}
.desc{
  margin-left: 90px;
  list-style: square;
  font-size: 24px;
  color: dimgray;
}

.fa {
  color: black;
}
/* CSS untuk Contact Wrapper */

/* CSS untuk Footer */
